.results__header {
    padding: 20px 0 0 0;
}
.ing__title {
    display:flex;
    width:100%;
    margin: 0 0 7px 0;
}

.cards {
    margin: 20px 0;
}
.card__title{
    margin-bottom: 12px;
}

.results__count{
    margin-left: auto;
}

.chip {
    margin-bottom: 5px;
}